{% load static %}
<!DOCTYPE html>
<html class="mdc-typography">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
		<title>Sample App</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-light_blue.min.css" />
		<link rel="stylesheet" href="{% static "coinapp/style.css" %}">
		
	</head>
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
			mdl-layout--fixed-tabs">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<!-- Title -->
					<div class="mdl-layout-title">Coin Exchange Rates</div>
				</div>
				<!-- Tabs -->
				<div class="mdl-layout__tab-bar">
					<a href="#fixed-tab-1" class="mdl-layout__tab "><img src="{% static "coinapp/btc.png" %}" width="20px" height="20px">BTC</a>
					<a href="#fixed-tab-2" class="mdl-layout__tab "><img src="{% static "coinapp/eth.png" %}" width="20px" height="20px">ETH</a>
					<a href="#fixed-tab-3" class="mdl-layout__tab "><img src="{% static "coinapp/bch.png" %}" width="20px" height="20px">BCH</a>
					<a href="#fixed-tab-4" class="mdl-layout__tab "><img src="{% static "coinapp/ltc.png" %}" width="20px" height="20px">LTC</a>
					<a href="#fixed-tab-5" class="mdl-layout__tab "><img src="{% static "coinapp/xrp.png" %}" width="20px" height="20px">XRP</a>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<div class="drawer-head">
					<img src="{% static "coinapp/logo.png" %}" width="50px" height="50px" class="drawer-head-content">
					<br>
					<div class="drawer-brand-name">Rick and Morty</div>
					<div class="drawer-brand-email">abc@gmail.com</div>
				</div>
				<br>
				<div class="drawer-items">
					<a href="#4"><div class="drawer-item">Notifications</div></a>
					<br>
					<a href="#3"><div class="drawer-item">Bugs &amp; Suggestions</div></a>
					<br>
					<a href="#2"><div class="drawer-item">Rate Us</div></a>
					<br>
					<a href="#1"><div class="drawer-item">About Us</div></a>
				</div>
			</div>
			<main class="mdl-layout__content" id="samp">
				<section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
					<div class="page-content">
						<div class="best_card">
							<div class="card-title">
								BEST PRICES <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="bt_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bt_btc_sl"></span></span>
							</div>
							<br> <br>
							<div class="from">
								<span class="ex-text">From :</span><span class="bsdata"><span id="bt_btc_by_fr"></span></span>
							</div>
							<div class="to">
								<span class="ex-text">To :</span><span class="bsdata"> <span id="bt_btc_sl_fr"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								BUYUCOIN <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"><span id="bu_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bu_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								COINDELTA <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cd_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cd_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						
						<div class="normal_card">
							<div class="card-title">
								COINOME <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cn_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cn_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								COINSECURE <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cs_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cs_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								KOINEX <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="kx_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="kx_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								POCKETBITS <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="pb_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="pb_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								UNOCOIN <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="uc_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="uc_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>
						<div class="normal_card">
							<div class="card-title">
								ZEBPAY <span class="inr">(INR)
								</span>
							</div>
							<br> <br>
							<div class="buy">
								<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="zp_btc_by"></span></span>
							</div>
							<div class="sell">
								<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="zp_btc_sl"></span></span>
							</div>
							<br> <br>
						</div>

					</div>
				</section>
				<section class="mdl-layout__tab-panel" id="fixed-tab-2">
					<div class="page-content"><div class="best_card">
						<div class="card-title">
							BEST PRICES <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="bt_eth_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bt_eth_sl"></span></span>
						</div>
						<br> <br>
						<div class="from">
							<span class="ex-text">From :</span><span class="bsdata"> <span id="bt_eth_by_fr"></span></span>
						</div>
						<div class="to">
							<span class="ex-text">To :</span><span class="bsdata"> <span id="bt_eth_sl_fr"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							COINDELTA <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cd_eth_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cd_eth_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							ETHEXINDIA <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="ex_eth_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="ex_eth_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							KOINEX <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="kx_eth_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="kx_eth_sl"></span></span>
						</div>
					</div>
				</div>
				</section>
				<section class="mdl-layout__tab-panel" id="fixed-tab-3">
					<div class="page-content"><div class="best_card">
						<div class="card-title">
							BEST PRICES <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="bt_bch_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bt_bch_sl"></span></span>
						</div>
						<br> <br>
						<div class="from">
							<span class="ex-text">From :</span><span class="bsdata"> <span id="bt_bch_by_fr"></span> </span>
						</div>
						<div class="to">
							<span class="ex-text">To :</span><span class="bsdata"> <span id="bt_bch_sl_fr"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							COINDELTA <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cd_bch_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cd_bch_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							COINOME <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cn_bch_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cn_bch_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							KOINEX <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="kx_bch_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="kx_bch_sl"></span></span>
						</div>
					</div>
				</div>
				</section>
				<section class="mdl-layout__tab-panel" id="fixed-tab-4">
					<div class="page-content"><div class="best_card">
						<div class="card-title">
							BEST PRICES <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="bt_ltc_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bt_ltc_sl"></span></span>
						</div>
						<br> <br>
						<div class="from">
							<span class="ex-text">From :</span><span class="bsdata"> <span id="bt_ltc_by_fr"></span></span>
						</div>
						<div class="to">
							<span class="ex-text">To :</span><span class="bsdata"> <span id="bt_ltc_sl_fr"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							COINDELTA <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cd_ltc_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cd_ltc_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							COINOME <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cn_ltc_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cn_ltc_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							KOINEX <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="kx_ltc_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="kx_ltc_sl"></span></span>
						</div>
					</div>
				</div>
				</section>
				<section class="mdl-layout__tab-panel" id="fixed-tab-5">
					<div class="page-content"><div class="best_card">
						<div class="card-title">
							BEST PRICES <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="bt_xrp_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bt_xrp_sl"></span>0</span>
						</div>
						<br> <br>
						<div class="from">
							<span class="ex-text">From :</span><span class="bsdata"> <span id="bt_xrp_by_fr"></span></span>
						</div>
						<div class="to">
							<span class="ex-text">To :</span><span class="bsdata"> <span id="bt_xrp_sl_fr"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							BTCXINDIA <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="bx_xrp_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="bx_xrp_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							COINDELTA <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="cd_xrp_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="cd_xrp_sl"></span></span>
						</div>
						<br> <br>
					</div>
					<div class="normal_card">
						<div class="card-title">
							KOINEX <span class="inr">(INR)
							</span>
						</div>
						<br> <br>
						<div class="buy">
							<span class="buy-text">Buy :</span><span class="bsdata bdata"> <span id="kx_xrp_by"></span></span>
						</div>
						<div class="sell">
							<span class="sell-text">Sell :</span><span class="bsdata sdata"> <span id="kx_xrp_sl"></span></span>
						</div>
					</div>
				</div>
				</section>
			</main>
		</div>
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
		<script src="https://hammerjs.github.io/dist/hammer.js"></script>
		<script>
		$(document).ready(function() {
		var count = 1;
		var myElement = document.getElementById('samp');
		var mc = new Hammer(myElement);
		mc.on("swipeleft", function(){
			$("#fixed-tab-2").addClass("is-active");
			$("#fixed-tab-1").removeClass("is-active");
		});
		});
		</script>
		<script>
			$(document).ready(function() {
			  $.ajaxSetup({ cache: false });
			  var my_refresh = setInterval(function() {
				$('#output_box').load('/get_log/');
				$('#uc_btc_by').load('/uc_btc_by/');
				$('#uc_btc_sl').load('/uc_btc_sl/');
				$('#zp_btc_by').load('/zp_btc_by/');
				$('#zp_btc_sl').load('/zp_btc_sl/');
				$('#kx_eth_by').load('/kx_eth_by/');
				$('#kx_eth_sl').load('/kx_eth_sl/');
				$('#kx_btc_by').load('/kx_btc_by/');
				$('#kx_btc_sl').load('/kx_btc_by/');
				$('#kx_ltc_by').load('/kx_ltc_by/');
				$('#kx_ltc_sl').load('/kx_ltc_sl/');
				$('#kx_bch_by').load('/kx_bch_by/');
				$('#kx_bch_sl').load('/kx_bch_by/');
				$('#kx_xrp_by').load('/kx_xrp_by/');
				$('#kx_xrp_sl').load('/kx_xrp_sl/');
				$('#bu_btc_by').load('/bu_btc_by/');
				$('#bu_btc_sl').load('/bu_btc_sl/');
				$('#cs_btc_by').load('/cs_btc_by/');
				$('#cs_btc_sl').load('/cs_btc_sl/');
				$('#ex_eth_by').load('/ex_eth_by/');
				$('#ex_eth_sl').load('/ex_eth_sl/');
				$('#bx_xrp_by').load('/bx_xrp_by/');
				$('#bx_xrp_sl').load('/bx_xrp_sl/');
				$('#cn_btc_by').load('/cn_btc_by/');
				$('#cn_btc_sl').load('/cn_btc_sl/');
				$('#cn_bch_by').load('/cn_bch_by/');
				$('#cn_bch_sl').load('/cn_bch_sl/');
				$('#cn_ltc_by').load('/cn_ltc_by/');
    			$('#cn_ltc_sl').load('/cn_ltc_sl/');;
				$('#pb_btc_by').load('/pb_btc_by/');
				$('#pb_btc_sl').load('/pb_btc_sl/');
				$('#cd_btc_by').load('/cd_btc_by/');
				$('#cd_btc_sl').load('/cd_btc_sl/');
				$('#cd_eth_by').load('/cd_eth_by/');
				$('#cd_eth_sl').load('/cd_eth_sl/');
				$('#cd_ltc_by').load('/cd_ltc_by/');
				$('#cd_ltc_sl').load('/cd_ltc_sl/');
				$('#cd_bch_by').load('/cd_bch_by/');
				$('#cd_bch_sl').load('/cd_bch_sl/');
				$('#cd_xrp_by').load('/cd_xrp_by/');
				$('#cd_xrp_sl').load('/cd_xrp_sl/');
				$('#bt_btc_by').load('/bt_btc_by/');
				$('#bt_btc_sl').load('/bt_btc_sl/');
				$('#bt_eth_by').load('/bt_eth_by/');
				$('#bt_eth_sl').load('/bt_eth_sl/');
				$('#bt_bch_by').load('/bt_bch_by/');
				$('#bt_bch_sl').load('/bt_bch_sl/');
				$('#bt_ltc_by').load('/bt_ltc_by/');
				$('#bt_ltc_sl').load('/bt_ltc_sl/');
				$('#bt_xrp_by').load('/bt_xrp_by/');
				$('#bt_xrp_sl').load('/bt_xrp_sl/');
				$('#bt_btc_by_fr').load('/bt_btc_by_fr/');
				$('#bt_btc_sl_fr').load('/bt_btc_sl_fr/');
				$('#bt_eth_by_fr').load('/bt_eth_by_fr/');
				$('#bt_eth_sl_fr').load('/bt_eth_sl_fr/');
				$('#bt_bch_by_fr').load('/bt_bch_by_fr/');
				$('#bt_bch_sl_fr').load('/bt_bch_sl_fr/');
				$('#bt_ltc_by_fr').load('/bt_ltc_by_fr/');
				$('#bt_ltc_sl_fr').load('/bt_ltc_sl_fr/');
				$('#bt_xrp_by_fr').load('/bt_xrp_by_fr/');
				$('#bt_xrp_sl_fr').load('/bt_xrp_sl_fr/');
				
			  }, 10000);
			});
			
			</script>
	</body>
</html>