body{
			color: #808080;
			}
			.card-title{
				text-align: center;
				margin-left: 15px;
				padding-top: 15px;
				float: center;
				font-size: 18px;
				color: #000
			}
			.mdl-layout__tab-panel.is-active{
				margin-top: 0%;
				padding-top: 0%;
				}
			
			.mdl-layout__header .mdl-layout__drawer-button{

			background-color: #616161;

			}


			.mdl-layout.is-upgraded .mdl-layout__tab.is-active{
				color: #000;
			}
			.mdl-layout__header-row {
			padding-left: 59px;
			background-color: #616161;
			}
			/* resizing tab bar container*/
			.mdl-layout__tab-bar-container{
				height: 60px;
				
			}
			.mdl-layout__tab-bar{
				
				background-color: #e0e0e0;
			}
			.mdl-layout__tab{
				color: #000
			}
			.mdl-layout__tab .is-active{
				color: #000
			}

			/*increasing tab size and vertical position of TEXT */
			.mdl-layout--fixed-tabs .mdl-layout__tab {
				height: 60px;
    			line-height: 70px;
			}
			/*increasing tab size and a tags */
			.mdl-layout--fixed-tabs .mdl-layout__tab a {
				height: 60px;
    			
			}

			/*positioning image above text */
			.mdl-layout__tab-bar img{
				align-content: center;
				display: block;
				margin-top: 15px;
				margin-bottom: -20px;
				font-size: 24px;
			}
			
			/* image styling */
			img{
			padding: 0;
			margin-top: +10px;
			margin-left:auto;
			margin-right: auto;
			align-content: center;
}

			.buy{
			float: left;
			margin-left: 15px;
			margin-top: 7px;
			font-size: 15px;
			}
			.bsdata{
			font-weight: bold;
			font-style: italic;
			}
			.sell{
			margin-right: 15px;
			margin-top: 7px;
			font-size: 15px;
			float: right;
			}
			.from{
			margin-left: 15px;
			font-size: 15px;
			float: left;
			}
			.to{
			margin-right: 15px;
			font-size: 15px;
			float: right;
			}
			
			.drawer-head{
			height: 124px;
			background-color: #616161;
			width: 100%;
			}
			.drawer-head-content{
			margin-top: 15px;
			margin-left: 15px;
			}
			.inr{
			font-size: 15px;
			}
			.drawer-brand-name{
			font-size: 18px;
			color: #FFFFFF;
			margin-left: 15px;
			margin-top: 10px;
			}
			.drawer-brand-email{
			font-size: 15px;
			margin-left: 15px;
			color: #FFFFFF;
			}
			.drawer-items{
			margin-left: 15px;
			font-size: 15px;
			}
			.drawer-item{
			width: 225px;
			}
			.bdata{
			color: #4CAF50;
			}
			.sdata{
			color: #F44336;
			}
			a
			{
			text-decoration : none;
			color : #000;
			}

			.best_card{
				background-color: #e0e0e0;
				
				margin-left: 3%;
				margin-right: 3%;
				margin-top: 3%;
				border-top-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			.normal_card{
				border-bottom-style: solid;
				border-bottom-color: #e0e0e0;
			}